*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(226, 226, 226);
}
nav{
   display: flex;
   justify-content: space-around;
   min-height: 12vh;
   align-items: center;
   font-family: Courier;
   background-color: rgb(77, 3, 61);
}
.defaultText{
    text-transform: capitalize;
    letter-spacing: 2.5px;
    font-size: 20px;
    color: rgb(231, 239, 250);
}
.navLinks{
 
    justify-content: space-around;
    display:fleX;
    width: 50%;
    text-decoration: none;
}
.navLinks a{
    color: rgb(231, 239, 250);
    font-size: 22.5px;
    text-decoration: none;
}
.navLinks li{
    list-style-type: none;
}
.mVer{
    display: none;
}
.mVer div{
    width: 25px;
    height: 5px;
    margin: 8%;
    background-color:rgb(231, 239, 250); 
    border-radius:2px;
}
@media screen and (max-width: 1200px){
    .navLinks{
        width:60%;
    }
}
@media screen and (max-width: 950px){
    body {
        overflow-x:hidden;
    }
    .navLinks{
        position:absolute;
        right:0px;
        height: 92vh;
        top:8vh;
        background-color:rgb(77, 3, 61);
        display:flex;
        flex-direction:column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
    }
    .navLinks li{
        opacity:0;
    }
    .mVer{
        display: block;
    }
}